.alarmpage{
	background-color: black;
}

.callpage{
	background-color: black;
}

.recordvideo{
	background-color: black;
}

.fakecall {
	background-color: black!important;
}

.bulletlist {
	font-size: 20px;
}