.alarmpage{
	background-color: black;
}

.callpage{
	margin-top: 70px;
	background-color: black;
}

.recordvideo{
	background-color: black;
}

.fakecall {
	background-color: black!important;
}


.bulletlist {
	font-size: 20px;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.overlay {
	position: fixed;
    left: 25%;
	top: 80%;
    min-width: 300px;
    min-height: 50px;
}

.row {
	margin-left: -5px
}

.btn2 {
    background-color: #191970; /* midnight blue */
    border: 5px solid #0000CD; /* medium blue */
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 380px;
    height: 100px;
}

.alarm-btn{
    background-color: white; 
    border: 5px solid #696969; /* gray */
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 150px;
    height: 70px;
}

.sendvideo-btn{
    background-color: black; 
    border: 10px solid #696969; /* gray */
    color: white;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 20px;
    width: 150px;
    height: 70px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 400px;
}
